body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
  height: 723px;
  width: 267px;
}
.calendar .calendar-close {
  height: 50px;
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 12px rgba(0,0,0,0.5);
  border-radius: 10px 10px 0 0;
  background-color: #0f5d9d;
}
.calendar .calendar-close .close-popup {
  padding-right: 20px;
  margin-top: 3px;
}
.calendar .calendar-close .arrow-back {
  padding-left: 20px;
}
.calendar .calendar-box {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  background-color: #072035;
}
.calendar .calendar-box .calendar-body .choose-month-box {
  overflow: hidden;
}
.calendar .calendar-box .calendar-body .choose-month-box .choose-month {
  display: flex;
  flex-flow: row;
}
