@import 'help.styl'
@import 'animation.styl'

header 
	position fixed
	top: 0
	background-color #fff
	z-index: 100
	height 75px
	width 100%
	display flex
	align-items: center
	border-bottom:1px solid #0068ff;
	.header-container
		width 100%
		display flex
		justify-content: flex-start;
	.main-logo
		margin-left 67px
		width 210px
		
		img
			height 32px

	nav
		margin-top: 9px
		width 100%
		margin-left: 138px
		.header-nav
			width 70%
			display flex
			justify-content space-between
			li
				padding: 0 20px

				a
					width 100%
					margin-top:auto
					margin-bottom:auto
					font-family: "GraphikRegular"
					color #4b4b4b
					font-size 12px
					font-weight 400
					line-height 14px
					text-decoration: none
				&.current
					position relative
					&:after
						content ''
						position: absolute
						bottom -30px
						left 0
						height 5px
						width 100%
						background-color #0068ff	
	.header-btn
		display none
		margin-right: 47px
		width 324px
		justify-content space-between
		.signUp
			width 157px
			height 37px
			border-radius 30px
			border 2px solid #0068ff
			display flex
			justify-content center
			align-items: center
			color #4b4b4b
			font-family: "GraphikRegular"
			font-size: 12px
			a
				color #4b4b4b
				font-family: "GraphikRegular"
				font-size: 12px
				text-decoration: none
		.signIn
			width 145px
			height 37px
			border-radius 30px
			background-color #0068ff
			color #fff
			font-family: "GraphikRegular"
			font-size: 12px
			display flex
			justify-content center
			align-items: center
			margin-left: 22px
			a
				color #fff
				font-family: "GraphikRegular"
				font-size: 12px
				text-decoration: none
.main-banner
	margin-top 75px
	width 100%
	height 865px
	background-color #0068ff
	background-image linear-gradient(123deg, rgba(0, 148, 255, 0) 0%, rgba(255, 255, 255, 0) 100%)
	position relative
	overflow hidden
	.header-breadcrumb
		z-index 10
		width 100%
		position: absolute
		top 30px
		font-size: 12px
		font-family "GraphikRegular"
		color: #ffffff
		a
			color: #fff
	.banner-text
		position: absolute
		width 100%
		top 272px
		display flex
		flex-direction: column
		.text-img
			margin-bottom 18px	
		.text-content
			color #ffffff
			text-transform: uppercase
			font-family: "GraphikSemibold";
			position relative
			.service-packet
				font-size: 24px;
				font-weight: 600;
				line-height: 76px;
			.packet-name
				font-size: 106px
				padding-bottom: 28px
				margin-bottom: 27px
				letter-spacing: 7px
				border-bottom: 20px solid #fff
			.packet-caption	
				font-family "GraphikRegular"
				font-size: 24px;
				text-transform: none
			.content-img
				position: absolute	
				right -180px
				bottom -63%
		.banner-mouse
			width 100%
			height 57px
			display flex
			justify-content center
			margin-top: 130px
			img
				width 28px
				height 57px	

.main-content
	padding-top: 100px
	h1
		color #4b4b4b
		font-family "GraphikSemibold"
		font-size 47px
		font-weight 600
		line-height 59px
		text-transform uppercase
		position relative
		&:after
			position absolute
			content: ''
			bottom -30px
			left 0
			width 60%
			height 12px
			background-color #0068ff
	.packet-container
		display flex
		margin-top: 104px
		.packet-item
			position relative
			color #0068ff
			margin-right 30px
			&:last-child
				margin-right: 0
			.card-bg
				position: absolute
				bottom 0
				right 10px
				z-index 0
				opacity 0.99
			.packet-name
				font-family: "GraphikSemibold";
				font-size: 18px;
				font-weight: 600;

			.item-card
				z-index 10
				margin-top: 20px
				padding: 0 60px
				padding-top: p = 60px
				width: w = 350px
				height 487px
				box-shadow 6px 6px 31px rgba(0, 0, 0, 0.16)
				
				background-image url('../img')
				font-family "GraphikRegular"
				position relative

				.card-name-box
					z-index 1
					display flex
					align-items: center
					font-family: "GraphikSemibold";
					.card-number
						color #ec6608
						font-size 95px
						position relative
						&:after
							position absolute
							content: ''
							left 0
							bottom -5px
							width 100%
							height 7px
							background-color #0068ff	
					.card-name
						margin-left: 17px
						font-size 14px	
						line-height: 18px;
						text-transform: uppercase
				.card-content
					z-index 1
					margin-top: 20px
					.content
						display flex
						flex-direction: column
						span 
							padding: 5px 0
							position relative
							
				
							

						p
							font-size 14px
							font-weight 400
							line-height 25px
						.important	
							font-family: 'GraphikSemibold'
							color #ec6608
							text-transform: uppercase
							margin-bottom: 9px
				.card-btn-box
					width 'calc(%s - %s)' % ( w p*2)
					position: absolute
					bottom 54px
					display flex
					justify-content center
					z-index 1
					.card-btn 			
						display flex
						justify-content center
						align-items center
						width 160px
						height 37px
						box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.16);
						background-color #ffffff	
						border-radius: 25px		
						a
							color #0068ff
							font-family "GraphikMedium"
							font-size 14px
							font-weight 500
							line-height 25px
						&:hover
							a
								color: #fff
				.packet-count
					position: absolute
					top 20px
					right 20px
					z-index 1
					.count
						display block
						width 20px
						height 20px
						background-color #0068ff
						margin-bottom: 20px
						&:nth-child(1)
							opacity 0.3
						&:nth-child(2)
							opacity 0.5
			


				&:after
					z-index 10
					position: absolute
					content: ''
					bottom 0
					left 0
					width 100%
					height 14px
					background-color #3e8dff
.current-price
	padding-top: 50px
	padding-bottom: 80px
	.current-price-word
		color #0068ff
		font-family "GraphikSemiBold"
		text-transform: uppercase
		font-size 18px
		font-weight 600
		margin-bottom: 20px
	.price-block
		width 100%
		height 368px
		padding-left: 60px
		padding-top: 75px
		background-color #0068ff
		color #fff
		font-family "GraphikRegular"
		position relative
		overflow hidden
		.total-price
			z-index 3
			font-size 34px
			font-weight 600
			font-family "GraphikSemiBold"
			position relative
			.price
				position relative
				&:after
					position absolute
					content ''
					width 62px
					height 7px
					background-color #ffffff
					bottom -16px
					left 0
			.fas
				font-size 14px
			.total-include
				margin-top: 34px
				font-family "GraphikRegular"
				font-size 12px
		.price-btn
			z-index 3
			margin-top: 20px
			.choose-more
				width 325px
				height 37px
				border-radius 19px
				display flex
				justify-content center
				align-items center
				border 1px solid #ffffff
				margin-bottom: 20px
				&:hover
					box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.16);
				a
					color: #fff
					font-family: 'GraphikMedium';
			.get-offer
				width 325px
				height 37px
				border-radius 19px
				display flex
				justify-content center
				align-items center
				background-color #fff
				&:hover
					box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.16);
				a
					color #ec6608	
					font-family: 'GraphikMedium';
		.block-bg	
			position absolute
			right 180px
			width 400px
			top 45px
			z-index 2
footer
	background-color #4b4b4b
	position relative
	.footer-word
		transform: rotate(-90deg)
		position: absolute
		top 178px
		left 0
		color #ffffff
		a
			text-decoration: none 
			color #ffffff
			font-family "GraphikRegular"
			font-size 13px
			font-weight 400
			line-height 15px
			&:hover
				color:#EC6608
			
			

	.footer-container
		display flex
		padding-top: 80px
		padding-bottom: 147px
		max-width: 940px
		margin-left: auto
		margin-right: auto
		.footer-nav-box

			display flex
			flex-grow: 1
			.footer-nav
				margin-top: 15px
				display flex
				flex-flow: column
				li
					padding: 14px 0
				a
					text-decoration: none 
					color #ffffff
					font-family "GraphikRegular"
					font-size 13px
					font-weight 400
					line-height 15px
					&:hover
						color:#EC6608
		.footer-info-box
			max-width 406px
			display flex
			flex-grow: 1
			flex-flow: column
			.info-box-word
				
				img
					
					height 64px		

			.info-box-caption
				margin-top 50px
				color #ffffff
				font-family "GraphikRegular"
				font-size 14px
				font-weight 400
				line-height 16px
				text-align: right
				a
					color #ffffff
					font-family "GraphikRegular"
					font-size 14px
					font-weight 400
					line-height 16px
					text-decoration: none
				.box-caption-address
					display flex
					justify-content flex-end
					p
						width 195px
				div
					margin-top: 16px		




@media screen and (max-width 1500px)
	header
		nav
			margin-left: 0
	.advantage
		.advantage-container
			.advantage-item-container
				flex-flow: wrap
				.advantage-item
					width 50%
					.item-word
						margin-left: auto
						margin-right: auto
					.item-caption
						margin-left: auto
						margin-right: auto
	.work-alg
		.work-alg-content
			.content-body
				.body-img	
					width 500px
					overflow hidden	
					right -474px
@media screen and (max-width 1350px)	
	header
		nav
			.header-nav
				width: 80%		
	.main-banner
		.banner-text	
			left 202px		