html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "GraphikMedium";
  src: url("../fonts/GraphikMedium.otf") format("opentype");
}
@font-face {
  font-family: "GraphikRegular";
  src: url("../fonts/GraphikRegular.otf") format("opentype");
}
@font-face {
  font-family: "GraphikSemibold";
  src: url("../fonts/GraphikSemibold.otf") format("opentype");
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.slick-dots {
  bottom: -43px;
}
.slick-dots li button:before {
  transform: scale(2);
  color: #0068ff;
}
.slick-dots li.slick-active button:before {
  transform: scale(2);
  opacity: 1;
  color: #0068ff;
}
.current:after {
  animation-name: current1;
  animation-duration: 1s;
}
.mouse-anim {
  animation: mouse-anim linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop 0.6s linear;
}
.blink_on:after {
  animation: blink 15s linear;
  animation-iteration-count: infinite;
  content: "";
  position: absolute;
  top: 0;
  left: 0em;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  transform: skewX(-50deg);
}
.sheen:hover {
  background-color: #0068ff !important;
a
  color: #fff !important;
}
.sheen:before {
  content: "";
  background-color: #fff;
  height: 100%;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-50deg) translateX(0);
}
.sheen:hover:before {
  animation: sheen 0.4s linear;
}
@-moz-keyframes sheen {
  0% {
    transform: skewX(-50deg) translateX(0);
  }
  100% {
    transform: skewX(-50deg) translateX(15.5em);
  }
}
@-webkit-keyframes sheen {
  0% {
    transform: skewX(-50deg) translateX(0);
  }
  100% {
    transform: skewX(-50deg) translateX(15.5em);
  }
}
@-o-keyframes sheen {
  0% {
    transform: skewX(-50deg) translateX(0);
  }
  100% {
    transform: skewX(-50deg) translateX(15.5em);
  }
}
@keyframes sheen {
  0% {
    transform: skewX(-50deg) translateX(0);
  }
  100% {
    transform: skewX(-50deg) translateX(15.5em);
  }
}
@-moz-keyframes blink {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 130% 0%;
  }
  100% {
    background-position: 130% 0%;
  }
}
@-webkit-keyframes blink {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 130% 0%;
  }
  100% {
    background-position: 130% 0%;
  }
}
@-o-keyframes blink {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 130% 0%;
  }
  100% {
    background-position: 130% 0%;
  }
}
@keyframes blink {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 130% 0%;
  }
  100% {
    background-position: 130% 0%;
  }
}
@-moz-keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-o-keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes current1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes current1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes current1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes current1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes mouse-anim {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes mouse-anim {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes mouse-anim {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes mouse-anim {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  80% {
    transform: translate(0px, 25px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0068ff;
}
header .header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
header .main-logo {
  margin-left: 67px;
  width: 210px;
}
header .main-logo img {
  height: 32px;
}
header nav {
  margin-top: 9px;
  width: 100%;
  margin-left: 138px;
}
header nav .header-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
header nav .header-nav li {
  padding: 0 20px;
}
header nav .header-nav li a {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "GraphikRegular";
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
}
header nav .header-nav li.current {
  position: relative;
}
header nav .header-nav li.current:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #0068ff;
}
header .header-btn {
  display: none;
  margin-right: 47px;
  width: 324px;
  justify-content: space-between;
}
header .header-btn .signUp {
  width: 157px;
  height: 37px;
  border-radius: 30px;
  border: 2px solid #0068ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b4b4b;
  font-family: "GraphikRegular";
  font-size: 12px;
}
header .header-btn .signUp a {
  color: #4b4b4b;
  font-family: "GraphikRegular";
  font-size: 12px;
  text-decoration: none;
}
header .header-btn .signIn {
  width: 145px;
  height: 37px;
  border-radius: 30px;
  background-color: #0068ff;
  color: #fff;
  font-family: "GraphikRegular";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}
header .header-btn .signIn a {
  color: #fff;
  font-family: "GraphikRegular";
  font-size: 12px;
  text-decoration: none;
}
.main-banner {
  margin-top: 75px;
  width: 100%;
  height: 865px;
  background-color: #0068ff;
  background-image: linear-gradient(123deg, rgba(0,148,255,0) 0%, rgba(255,255,255,0) 100%);
  position: relative;
  overflow: hidden;
}
.main-banner .header-breadcrumb {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 30px;
  font-size: 12px;
  font-family: "GraphikRegular";
  color: #fff;
}
.main-banner .header-breadcrumb a {
  color: #fff;
}
.main-banner .banner-text {
  position: absolute;
  width: 100%;
  top: 272px;
  display: flex;
  flex-direction: column;
}
.main-banner .banner-text .text-img {
  margin-bottom: 18px;
}
.main-banner .banner-text .text-content {
  color: #fff;
  text-transform: uppercase;
  font-family: "GraphikSemibold";
  position: relative;
}
.main-banner .banner-text .text-content .service-packet {
  font-size: 24px;
  font-weight: 600;
  line-height: 76px;
}
.main-banner .banner-text .text-content .packet-name {
  font-size: 106px;
  padding-bottom: 28px;
  margin-bottom: 27px;
  letter-spacing: 7px;
  border-bottom: 20px solid #fff;
}
.main-banner .banner-text .text-content .packet-caption {
  font-family: "GraphikRegular";
  font-size: 24px;
  text-transform: none;
}
.main-banner .banner-text .text-content .content-img {
  position: absolute;
  right: -180px;
  bottom: -63%;
}
.main-banner .banner-text .banner-mouse {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.main-banner .banner-text .banner-mouse img {
  width: 28px;
  height: 57px;
}
.main-content {
  padding-top: 100px;
}
.main-content h1 {
  color: #4b4b4b;
  font-family: "GraphikSemibold";
  font-size: 47px;
  font-weight: 600;
  line-height: 59px;
  text-transform: uppercase;
  position: relative;
}
.main-content h1:after {
  position: absolute;
  content: '';
  bottom: -30px;
  left: 0;
  width: 60%;
  height: 12px;
  background-color: #0068ff;
}
.main-content .packet-container {
  display: flex;
  margin-top: 104px;
}
.main-content .packet-container .packet-item {
  position: relative;
  color: #0068ff;
  margin-right: 30px;
}
.main-content .packet-container .packet-item:last-child {
  margin-right: 0;
}
.main-content .packet-container .packet-item .card-bg {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 0;
  opacity: 0.99;
}
.main-content .packet-container .packet-item .packet-name {
  font-family: "GraphikSemibold";
  font-size: 18px;
  font-weight: 600;
}
.main-content .packet-container .packet-item .item-card {
  z-index: 10;
  margin-top: 20px;
  padding: 0 60px;
  padding-top: 60px;
  width: 350px;
  height: 487px;
  box-shadow: 6px 6px 31px rgba(0,0,0,0.16);
  background-image: url("../img");
  font-family: "GraphikRegular";
  position: relative;
}
.main-content .packet-container .packet-item .item-card .card-name-box {
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: "GraphikSemibold";
}
.main-content .packet-container .packet-item .item-card .card-name-box .card-number {
  color: #ec6608;
  font-size: 95px;
  position: relative;
}
.main-content .packet-container .packet-item .item-card .card-name-box .card-number:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 7px;
  background-color: #0068ff;
}
.main-content .packet-container .packet-item .item-card .card-name-box .card-name {
  margin-left: 17px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.main-content .packet-container .packet-item .item-card .card-content {
  z-index: 1;
  margin-top: 20px;
}
.main-content .packet-container .packet-item .item-card .card-content .content {
  display: flex;
  flex-direction: column;
}
.main-content .packet-container .packet-item .item-card .card-content .content span {
  padding: 5px 0;
  position: relative;
}
.main-content .packet-container .packet-item .item-card .card-content .content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.main-content .packet-container .packet-item .item-card .card-content .content .important {
  font-family: 'GraphikSemibold';
  color: #ec6608;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.main-content .packet-container .packet-item .item-card .card-btn-box {
  width: calc(350px - 120px);
  position: absolute;
  bottom: 54px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.main-content .packet-container .packet-item .item-card .card-btn-box .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.16);
  background-color: #fff;
  border-radius: 25px;
}
.main-content .packet-container .packet-item .item-card .card-btn-box .card-btn a {
  color: #0068ff;
  font-family: "GraphikMedium";
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.main-content .packet-container .packet-item .item-card .card-btn-box .card-btn:hover a {
  color: #fff;
}
.main-content .packet-container .packet-item .item-card .packet-count {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.main-content .packet-container .packet-item .item-card .packet-count .count {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #0068ff;
  margin-bottom: 20px;
}
.main-content .packet-container .packet-item .item-card .packet-count .count:nth-child(1) {
  opacity: 0.3;
}
.main-content .packet-container .packet-item .item-card .packet-count .count:nth-child(2) {
  opacity: 0.5;
}
.main-content .packet-container .packet-item .item-card:after {
  z-index: 10;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-color: #3e8dff;
}
.current-price {
  padding-top: 50px;
  padding-bottom: 80px;
}
.current-price .current-price-word {
  color: #0068ff;
  font-family: "GraphikSemiBold";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.current-price .price-block {
  width: 100%;
  height: 368px;
  padding-left: 60px;
  padding-top: 75px;
  background-color: #0068ff;
  color: #fff;
  font-family: "GraphikRegular";
  position: relative;
  overflow: hidden;
}
.current-price .price-block .total-price {
  z-index: 3;
  font-size: 34px;
  font-weight: 600;
  font-family: "GraphikSemiBold";
  position: relative;
}
.current-price .price-block .total-price .price {
  position: relative;
}
.current-price .price-block .total-price .price:after {
  position: absolute;
  content: '';
  width: 62px;
  height: 7px;
  background-color: #fff;
  bottom: -16px;
  left: 0;
}
.current-price .price-block .total-price .fas {
  font-size: 14px;
}
.current-price .price-block .total-price .total-include {
  margin-top: 34px;
  font-family: "GraphikRegular";
  font-size: 12px;
}
.current-price .price-block .price-btn {
  z-index: 3;
  margin-top: 20px;
}
.current-price .price-block .price-btn .choose-more {
  width: 325px;
  height: 37px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.current-price .price-block .price-btn .choose-more:hover {
  box-shadow: 8px 8px 10px rgba(0,0,0,0.16);
}
.current-price .price-block .price-btn .choose-more a {
  color: #fff;
  font-family: 'GraphikMedium';
}
.current-price .price-block .price-btn .get-offer {
  width: 325px;
  height: 37px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.current-price .price-block .price-btn .get-offer:hover {
  box-shadow: 8px 8px 10px rgba(0,0,0,0.16);
}
.current-price .price-block .price-btn .get-offer a {
  color: #ec6608;
  font-family: 'GraphikMedium';
}
.current-price .price-block .block-bg {
  position: absolute;
  right: 180px;
  width: 400px;
  top: 45px;
  z-index: 2;
}
footer {
  background-color: #4b4b4b;
  position: relative;
}
footer .footer-word {
  transform: rotate(-90deg);
  position: absolute;
  top: 178px;
  left: 0;
  color: #fff;
}
footer .footer-word a {
  text-decoration: none;
  color: #fff;
  font-family: "GraphikRegular";
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}
footer .footer-word a:hover {
  color: #ec6608;
}
footer .footer-container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 147px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-container .footer-nav-box {
  display: flex;
  flex-grow: 1;
}
footer .footer-container .footer-nav-box .footer-nav {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
}
footer .footer-container .footer-nav-box .footer-nav li {
  padding: 14px 0;
}
footer .footer-container .footer-nav-box .footer-nav a {
  text-decoration: none;
  color: #fff;
  font-family: "GraphikRegular";
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}
footer .footer-container .footer-nav-box .footer-nav a:hover {
  color: #ec6608;
}
footer .footer-container .footer-info-box {
  max-width: 406px;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
}
footer .footer-container .footer-info-box .info-box-word img {
  height: 64px;
}
footer .footer-container .footer-info-box .info-box-caption {
  margin-top: 50px;
  color: #fff;
  font-family: "GraphikRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}
footer .footer-container .footer-info-box .info-box-caption a {
  color: #fff;
  font-family: "GraphikRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}
footer .footer-container .footer-info-box .info-box-caption .box-caption-address {
  display: flex;
  justify-content: flex-end;
}
footer .footer-container .footer-info-box .info-box-caption .box-caption-address p {
  width: 195px;
}
footer .footer-container .footer-info-box .info-box-caption div {
  margin-top: 16px;
}
@media screen and (max-width: 1500px) {
  header nav {
    margin-left: 0;
  }
  .advantage .advantage-container .advantage-item-container {
    flex-flow: wrap;
  }
  .advantage .advantage-container .advantage-item-container .advantage-item {
    width: 50%;
  }
  .advantage .advantage-container .advantage-item-container .advantage-item .item-word {
    margin-left: auto;
    margin-right: auto;
  }
  .advantage .advantage-container .advantage-item-container .advantage-item .item-caption {
    margin-left: auto;
    margin-right: auto;
  }
  .work-alg .work-alg-content .content-body .body-img {
    width: 500px;
    overflow: hidden;
    right: -474px;
  }
}
@media screen and (max-width: 1350px) {
  header nav .header-nav {
    width: 80%;
  }
  .main-banner .banner-text {
    left: 202px;
  }
}
