html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
  }
  img:focus { outline: none; }
  div:focus { outline: none; }
  *:focus { outline: none; }
@font-face{
	font-family: "HelveticaNeueLTW1G-Bd";
	src: url("../fonts/HelveticaNeueLTW1G-Bd.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-BdIt";
	src: url("../fonts/HelveticaNeueLTW1G-BdIt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-Blk";
	src: url("../fonts/HelveticaNeueLTW1G-Blk.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-BlkIt";
	src: url("../fonts/HelveticaNeueLTW1G-BlkIt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-Hv";
	src: url("../fonts/HelveticaNeueLTW1G-Hv.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-HvIt";
	src: url("../fonts/HelveticaNeueLTW1G-HvIt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-It";
	src: url("../fonts/HelveticaNeueLTW1G-It.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-Lt";
	src: url("../fonts/HelveticaNeueLTW1G-Lt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-LtIt";
	src: url("../fonts/HelveticaNeueLTW1G-LtIt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-Md_0";
	src: url("../fonts/HelveticaNeueLTW1G-Md_0.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-MdIt";
	src: url("../fonts/HelveticaNeueLTW1G-MdIt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-Roman";
	src: url("../fonts/HelveticaNeueLTW1G-Roman.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-Th";
	src: url("../fonts/HelveticaNeueLTW1G-Th.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-ThIt";
	src: url("../fonts/HelveticaNeueLTW1G-ThIt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-UltLt";
	src: url("../fonts/HelveticaNeueLTW1G-UltLt.otf") format("opentype");
}
@font-face{
	font-family: "HelveticaNeueLTW1G-UltLtIt";
	src: url("../fonts/HelveticaNeueLTW1G-UltLtIt.otf") format("opentype");
}

header{
	position: relative;
}
.nav-box{
	position: absolute;
	width: 100%;
	background-color: #fff;
	opacity: 0.77;
	z-index: 100;
}
.nav-bar{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	
	
}
nav{
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 45px;
	padding-top: 30px;
	font-size: 18px;
}
.nav-container{
	display: flex;
	justify-content: center;
}
.header-nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-weight: 400;
	font-size: 18px;
}
.header-nav li{
	position: static;
	padding-bottom: 18px;
}

.header-nav li > a{
	color: #008555;
	white-space: nowrap;
}
.submenu{
	
	position: fixed;
	width: 100%;
	
	left: 0;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
}

.submenu-container{
	display: flex;
}

.submenu li{
	padding: 5px 5px;
}
.subcity ul li:first-child{
	color: #008555;
font-family: "HelveticaNeueLTW1G-Bd";
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.subcity{
	padding-left: 185px;
	font-size: 14px;
}
.subdirection{
	
	font-size: 14px;
	padding-left: 185px;
}
.subcountry{
	
	font-size: 14px;
	padding-left: 185px;
}
nav li:hover > .submenu {
	transform: rotateX(0deg);
	
	opacity: 1;
	background-color: #fff;
}
nav li:hover nav{
	position: fixed;
	top: 0;
}
.header-slaider-box{
	width: 100%;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.83);
}
.header-slaider li{
	width: 100%;
	position: relative;
		
	
}
.header-slaider li img{
	display: block;
max-width: 100%;
height: auto;
width: 100%;	
}
.header-slaider-annotation{
	position: absolute;
	left: 20%;
	bottom: 60px;
	display: flex;
	flex-direction: column;
	
}
.annotation-name{
	color: #ffffff;
	text-transform: uppercase; 
	font-family: "HelveticaNeueLTW1G-Lt";
	font-size: 45px;
	max-width: 300px;
	line-height:60px;
	
	
	
}
.annotation-adv-body{
	z-index: 20;
	margin-top: 22px;
}
.annotation-adv-body span{
	
	margin-top: 25px;
	color: #008555;
	font-family: "HelveticaNeueLTW1G-Roman";
	font-size: 20px;
	font-weight: 400;
	
	line-height: 26px;
	
	
}
.annotation-adv-body span span{
	padding: 0 7px;
	position: relative;
}
.annotation-adv-body span span:before{
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.85;
}
.header-widget{
	position: absolute;
	right: 0;
	bottom: 67px;
}
.header-widget div:first-child{
	
}

.widget-link, .widget-weather{
	position: relative;
	cursor: pointer;
	width: 57px;
	height: 57px;
	display: flex;
	padding: 8px;
	background-image: linear-gradient(to top, #0a613e 0%, #47d69e 100%);
}
.widget-weather .weather-modal{
	right: calc(100% + 6px);
	top:0px;
	position: absolute;
	width: 282px;
	height: 211px;
	padding: 16px 10px 21px 11px;
	box-shadow: 0 8px 4px rgba(0, 0, 0, 0.44);
	background-image: linear-gradient(to top, #0b6340 0%, #46d49c 100%);
}

.weather-modal{
	display: none;
}
.modal-topbar{
	display: flex;
	justify-content: space-between;
}
.modal-topbar .modal-topbar-info .topbar-info-city {
	position: relative;
	color: #ffffff;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 16px;
}
.modal-topbar .modal-topbar-info .topbar-info-city span:before {
	position: absolute;
	right: -26px;
	top: 2px;
	content: '';
	background-image: url('../img/widget-arrow.png');
	width: 20px;
	height: 11px;
	color: white;
}
.modal-topbar .modal-topbar-info .topbar-info-city span{
	text-transform: uppercase;
}
/*.widget-weather:hover > .weather-modal{
	display: block;
}
.modal-topbar .modal-topbar-info .topbar-info-city .info-body-menu:hover > ul{
	display: block;
}*/
.modal-topbar .modal-topbar-info .topbar-info-city ul{
	display: none;
	position: absolute;
	top: -16px;
	left: -11px;
	padding: 15px 22px 13px 11px;
	background-image: url('../img/widget-ul.png');	
	background-repeat: no-repeat;
}
.modal-topbar .modal-topbar-info .topbar-info-city ul li a{
	color: white;
}
.modal-topbar .modal-topbar-info .topbar-info-date {
	margin-top: 6px;
	color: #ffffff;
}
.modal-topbar .modal-topbar-info .topbar-info-date span{
	color: #ffffff;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 16px;
}
.modal-topbar .modal-topbar-info .topbar-info-temperature {
	margin-top: 20px;
	color: #ffffff;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 39px;
	text-transform: uppercase;
}
.modal-topbar .modal-topbar-info .topbar-info-temperature span{
	margin-right: 15px;
}
.modal-topbar  .modal-topbar-img{
	margin-top: auto;
}
.modal-botbar{
	margin-top: 25px;
	display: flex;
	width: 100%;
}
.modal-botbar .botbar-weather-item{
	height: 63px;
	color: white;
	font-family: "HelveticaNeueLTW1G-UltLt";
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	border-right: 2px solid white;
}
.modal-botbar .botbar-weather-item span:first-child{
	font-size: 16px;
}
.modal-botbar .botbar-weather-item:first-child{
	padding-left: 0
}
.modal-botbar .botbar-weather-item:last-child{
	border-right: none;
}
.modal-botbar .botbar-weather-item *{
	margin: 0 auto;
}

.modal-botbar .botbar-weather-item .weather-item-img{
	margin-top: auto;
}

.current-travel{
	padding: 60px 26px;
	background-image: url("../img/kind_bg.png"), url('../img/kind_2.png') ;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 200px;
}
.travel-container{
	display: flex;
	
	justify-content: center;
}
.travel-box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.travel-slaider-box{
	display: flex;
	align-self: center;
	width: 90%;
}
.travel-word{
	margin-bottom: 44px;
	text-transform: uppercase;
	font-family:"HelveticaNeueLTW1G-Th";
	color: #0054b9;
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	
}
.viewport{
	width: 100%;
}
.travel-slaider{
	display: flex;
	
}
.travel-item{
	position: relative;
	margin: 0 15px;
	display: flex;
	flex-direction: column;
}
.travel-item-box{
	padding: 0 44px;
	flex-flow: wrap;
    display: flex;
    justify-content: center;
}
.travel-item-img {
	position: relative;
	

	
}
.travel-item-img img{
	border: 1px solid white;
	box-shadow: rgba(0, 0, 0, 0.4) 10px 16px 13px;
}
.travel-item-name{
	margin-top: 25px;
}
.travel-item-name span{
	font-size: 24px;
}
.travel-item-name a{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: "HelveticaNeueLTW1G-Roman";
	color: #0054b9;
	font-size: 28px;
font-weight: 400;
}

.travel-item-date{
	width: 100%;
	height: 46px;
	color: #fff;
	font-family: "HelveticaNeueLTW1G-Lt";
	display: flex;
	align-self: center;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	
	
	
}
.travel-item-date span {
	height: 46px;
	font-size: 21px;
	white-space: nowrap;
	text-align: center;
	padding: 13px 40px 13px 40px;
	background-image: url('../img/plashka_dlya_daty.png');
	background-repeat: no-repeat;

}

.slaider-arrow-left, .slaider-arrow-right{
	position: absolute;
	cursor: pointer;
}
.slaider-arrow-left{
	top: calc(50% );
	left: -35px;	
}
.slaider-arrow-right{
	top: calc(50% );
	right:-35px;
}
.under-list{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	background-color: #0054b9;
}
.trip-filter{
	position: relative;
	background-color: #0054b9;
	background-image: url('../img/montazhnaya-222-oblast.svg');
	background-repeat: repeat-x;
	background-position-y: 10px;
	background-position: 100% 0;
	box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.46);
}
.trip-filter-container{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.trip-filter-word{
	margin-top: 53px;
	color: #fefefe;
	text-transform: uppercase;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 60px;
	font-weight: 400;
	
	text-align: center;
}
.filter-calc-container{
	padding: 55px 13px 56px 0px;
	display: flex;
    justify-content: center;
}
.main-filter{
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.main-filter span{
	color: #fff;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 28px;
	font-weight: 400;
}
.filter-item-city, .filter-item-date{
	position: relative;
	margin-right: 36px;
	
	
}
.filter-item-city{
	width: 35%;
	min-width: 300px;
}
.filter-item-date{
	width: 35%;
	min-width: 300px;
}
.filter-submit{
	width: 172px;
	cursor: pointer;
	margin-top: 20px;
	padding-top: 20px;

}
#filter-date, #filter-city{
	height: 34px;
	font-size: 20px;
	margin-top: 13px;
	background: rgb(242,249,254);
    background: -moz-linear-gradient(top, rgba(242,249,254,1) 62%, rgba(214,240,253,1) 100%);
    background: -webkit-linear-gradient(top, rgba(242,249,254,1) 62%,rgba(214,240,253,1) 100%);
    background: linear-gradient(to bottom, rgba(242,249,254,1) 62%,rgb(80, 126, 255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
	outline: none;
	border: none;
}

#filter-sumbit{
	cursor: pointer;
	height: 49px;
	width: 172px;
	color: #0054b9;
	font-family: 'HelveticaNeueLTW1G-Lt';
	font-size: 28px;
	font-weight: 400;
}
.filter-item-city >*, .filter-item-date >*{
	width: 100%;
}
.add-settings{
	display: flex;
	flex-wrap: nowrap;
	margin-top: 57px;
	justify-content: flex-start;
}
.add-setting-word{
	white-space: nowrap;
	color: #fefefe;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 23px;
	
	line-height: 27px;
}
.settings{
	width: 80%;
	margin-left: 60px;
}
.settings-box{
	max-width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
}
.settings-item{
	width: 180px;
	padding: 10px 15px;
	font-family: "HelveticaNeueLTW1G-Th";
}
.settings-item label input{
	display: none;
}
.settings-item label{
	display: inline-flex;
	color: #fff;
	font-family: "HelveticaNeueLTW1G-Th";
	white-space:pre-wrap;
}
.settings-item label span{
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 19px;
}
.my-custom-checkbox{ 
	position: relative;
	min-width: 16px;
	max-width: 16px;
	min-height: 16px;
	max-height: 16px;
	
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 63%, rgba(160,216,239,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 63%,rgba(160,216,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 63%,rgba(160,216,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}
.settings-item label span{
	padding-left: 10px;
}
.checked{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	background-color:#0054b9;
}

.adv-banner{
	max-width: 100%;
	height: 800px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.83)
}
.adv-banner-container{
	width: 100%;
	max-height: 100%;
}
.adv-slaider{
	height: 800px;
}
.adv-slaider-item{
	position: relative;
	height: 100%;
}
.slick-list{
	height: 100%;
}
.slick-track{
	height: 100%;
}
.adv-banner-img{
	height: 100%;
	position: relative;
	background-image: url('../img/7771.jpg');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;

	
}
.adv-banner-info{
	position: absolute;
	bottom: 20%;
	left: 15%;
}
.adv-banner-word{
	text-transform: uppercase;
	line-height: 26px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	font-size: 20px;
	text-transform: uppercase;
	color: #ed1c24;
	font-weight: bold;
	
}
.adv-banner-word span{
	max-width: 500px;
}
.rest-kind{
	padding-top: 80px;
	background-image: url(../img/1.png), url(../img/2.png);
	background-position: 0 100% , 100% 0;
	background-repeat: no-repeat;
	background-size: 200px;
}
.rest-kind-container{
	display: flex;
	justify-content: center;
}
.rest-kind-word{
	text-transform: uppercase;
	color: #008555;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 60px;
	
	line-height: 27px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}.rest-item{
	border: 2px solid white;
    z-index: 100;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	margin: 25px 45px;
	box-shadow: 16px 16px 13px rgba(0, 0, 0, 0.4);
	

	
}
.rest-item-img :after {
	
		content: '';
		position: absolute;
		z-index: -2;
		bottom: 0;
		width: 100%;
		height: 80px;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 21%, rgba(0, 0, 0, 0.65) 80%);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 21%, rgba(0, 0, 0, 0.65) 80%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 21%, rgba(0, 0, 0, 0.65) 80%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);


}

.rest-item-caption{
	width: 100%;
	padding-bottom: 24px;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	z-index: 10;

	
}
.rest-item-caption a{
	text-align: center;
}
.rest-item-caption span{
	width: 100%;
	text-align: center;
	font-family:"HelveticaNeueLTW1G-Th";
	color: #ffffff;
	font-size: 26px;

line-height: 34.17px;
}
.rest-item-img img{
	width: 100%;
	border: 1px solid white;
	
}
.rest-kind-caption{
	display: flex;
    justify-content: center;
	padding: 55px 50px;
}
.rest-kind-caption{
	color: #0a0a0a;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-size: 18px;
	
	line-height: 1.5em;
}

.rest-caption-box span{
	margin-bottom: 36px;
	color: #008555;
	font-family: "HelveticaNeueLTW1G-Md_0";
	font-size: 26px;
	font-weight: 500;
}
.rest-caption-box p{
	margin-top: 26px;
	line-height: 20px;
	font-size: 16px;
}
.news{
	box-shadow: 0 0 38px rgba(0, 0, 0, 0.43);
	border: 1px solid #ffffff;
	background-image: url(../img/news_bg.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
}
.news-container{
	padding: 60px 0;
	display: flex;
	justify-content: center;
}	
.news-box{ 
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.news-word{
	margin-bottom: 57px;
	text-align: center;
	text-transform: uppercase;
	color: #008555;
	font-family:"HelveticaNeueLTW1G-Th";
	font-size: 60px;
	font-weight: 400;

}
.news-slaider-box{
	
	display: flex;
	justify-content: center;
}
.news-slaider{
	display: inline-flex;
	width: 100%;
}
.news-item{
	padding: 0 30px;
	font-family: "HelveticaNeueLTW1G-Ltt";
}
.news-item-img{
	margin-bottom: 30px;
}
.news-item-img img{
	box-shadow: 11px 9px 8px 2px rgba(0, 0, 0, 0.29);
}
.news-item-theme {
	
}
.news-item-theme{
	margin-bottom: 35px;
	color: #008555;
	font-family: "HelveticaNeueLTW1G-Md_0";
	font-size: 22px;
	
}
.news-item-info{
	font-size: 18px;
	margin-bottom:18px;
	font-family: "HelveticaNeueLTW1G-Lt";
	
}
.news-item-link a{
	
	color: #008555;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-size: 18px;
	font-weight: 400;
}
footer{

	bottom: 0;
	width: 100%;
	z-index: 10000;
	background-color: #0054b9;
	font-family:"HelveticaNeueLTW1G-Th";
	font-size: 18px;
	padding: 66px 0 0 0;
	padding: 66px 0  48px 0;
}
footer a{
	color: #fff;
}
footer * > span{
	color:#fff;
}
.footer-container{
	display: flex;justify-content: center;
}
.footer-box{
	width: 100%;
}
.footer-info{
	display: flex;
	align-items: center;
	margin-bottom: 54px;
}
.footer-logo{
	margin-right: 10px;
}
.footer-word{
	color: #fff;
}
.footer-word::after{
	content: '';
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.footer-navbar{
	display: flex;

	width: 70%;
	margin-bottom: 73px;
}
.footer-navbar ul{
	margin-right: 110px;
}
.footer-navbar > ul > li {
	padding: 11px 0;
	white-space: nowrap;
}
.sub input{
	background-color: #0054b9;
	color: #fff;
	border: 1px solid #fff;
}
.footer-form{
	padding-left: 5px;
	height: 26px;
	color:#99bbe3;
	
}



.footer-form:before{
	content: '';
	
	top: 20px;
	right: 0;
	height: 20px;
	width: 15px;
	color: black;
	background-color: #fff;
	z-index: 100;

}
#subForm{
	display: none;
}
.sub-form{
	display: flex;
	flex-direction: column;
	position: relative;
}
.sub-form *:not(div){
	margin-bottom: 10px;
}
.icon-right-open-mini{
	position: absolute;
	right: -20px;
	bottom: 0;
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.sub input::-webkit-input-placeholder{
	color: #99bbe3;
}
.sub input::-moz-placeholder{
	color: #99bbe3;
}
.slick-arrow{
	display: none !important;
}

.max{
	max-width: 1460px;
}
.min{
	min-width: 1100px;
}
select {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}
  
  .ar{
	  width: 16px;
	  height: 15px;
	  position: absolute;
	  right: 16px;
	  bottom:9px;
	  z-index: 100;
  }
  .ar img{
	  cursor: pointer;
	  width: 100%;
	  height: 100%;
  }
  input[type=submit]{
	background-color: #fff;
	color: #0054b9;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-size: 28px;
	font-weight: 400;
	line-height: 9.66px;
	outline: none;
	border: 0 none;
	background: rgb(242,249,254);
    background: -moz-linear-gradient(top, rgba(242,249,254,1) 62%, rgba(214,240,253,1) 100%);
    background: -webkit-linear-gradient(top, rgba(242,249,254,1) 62%,rgba(214,240,253,1) 100%);
    background: linear-gradient(to bottom, rgba(242,249,254,1) 62%,rgb(80, 126, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
  }
.popup-content-box{
	background-color: #fff;
	display: flex;
	justify-content: center;
	background-image: url('../img/vektor.png'), url('../img/vektor_2.png');
	background-position: 0 71%, 100% 0;
	background-repeat: no-repeat;
	padding-left: 260px;
	padding-right: 130px;
	
}
.popup-box{
	position: relative;
	
}
.popup-container{
	padding-top: 40px;
	background-color: transparent;
}
.popup-convert{
	display: flex;
	justify-content: center;
	
}
.popup-img img{
	width: 100%;
}
.popup-content{
	  max-width: 1050px;
	  padding-bottom: 66px;
	  display: flex;
	  flex-direction: column;
}
.popup-title{
	margin-top: 25px;
	color: #009f43;
	font-family: "HelveticaNeueLTW1G-UltLt";
	font-size: 60px;
	font-weight: 400;
}
.popup-annotation{
	margin-top: 25px;
	color: #000000;
	font-family: "HelveticaNeueLTW1G-Roman";
	text-align: justify;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}
.overlay {
	overflow: auto;
	position: fixed;
	display: none;
	top: 0;
	padding: 250px;
	
	
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 3;
}
.news-item-content{
	display: none;
	padding-top: 40px;
	background-color: transparent;
}
.fancybox-content{
	padding: 0;
}
.fancybox-slide{
	padding: 200px;
}
.fancybox-button--close{
	display: none;
}
.close{
	position: absolute;
	right: 0;
	top: -40px;
	width: 33px;
	height: 33px;
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.linear {
    background: -moz-linear-gradient(left, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#99ffffff',GradientType=1 ); /* IE6-9 */
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#00000000",GradientType=0);
    }
}


.fadet {
	-webkit-animation-name: fade;
	animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
}
@media screen and (max-width: 1600px){
	.popup-content-box{
		padding-left: 150px;
	}
	.rest-item-caption span{
		font-size: 20px;
	}
	.rest-item{
		margin: 25px 20px;
	}
	.travel-item-box{
		padding: 0 20px;
	}
}
@media screen and (max-width: 1300px){
	nav{
		padding-left: 15px;
	}

}
@media screen and (max-width: 1280px){
	.footer-navbar ul {
		margin-right: 75px;
	}
	.travel-item-date span{
		padding: 16px 20px 11px 20px;
	}
	.rest-item-caption span{
		font-size: 14px;
	}
}