
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-right-circle:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */