html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

img:focus {
	outline: none;
}

div:focus {
	outline: none;
}

*:focus {
	outline: none;
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Bd";
	src: url("../fonts/HelveticaNeueLTW1G-Bd.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-BdIt";
	src: url("../fonts/HelveticaNeueLTW1G-BdIt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Blk";
	src: url("../fonts/HelveticaNeueLTW1G-Blk.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-BlkIt";
	src: url("../fonts/HelveticaNeueLTW1G-BlkIt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Hv";
	src: url("../fonts/HelveticaNeueLTW1G-Hv.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-HvIt";
	src: url("../fonts/HelveticaNeueLTW1G-HvIt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-It";
	src: url("../fonts/HelveticaNeueLTW1G-It.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Lt";
	src: url("../fonts/HelveticaNeueLTW1G-Lt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-LtIt";
	src: url("../fonts/HelveticaNeueLTW1G-LtIt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Md_0";
	src: url("../fonts/HelveticaNeueLTW1G-Md_0.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-MdIt";
	src: url("../fonts/HelveticaNeueLTW1G-MdIt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Roman";
	src: url("../fonts/HelveticaNeueLTW1G-Roman.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-Th";
	src: url("../fonts/HelveticaNeueLTW1G-Th.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-ThIt";
	src: url("../fonts/HelveticaNeueLTW1G-ThIt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-UltLt";
	src: url("../fonts/HelveticaNeueLTW1G-UltLt.otf") format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTW1G-UltLtIt";
	src: url("../fonts/HelveticaNeueLTW1G-UltLtIt.otf") format("opentype");
}

header {
	position: relative;
}
.nav-container{
	display: flex;
	justify-content: center;
}
.nav-box {
	position: absolute;
	width: 100%;
	background-color: #fff;
	opacity: 0.77;
	z-index: 100;
}

.nav-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 20px;
	
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 45px;
	padding-top: 30px;
}

.header-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-weight: 400;
	font-size: 18px;
}
.submenu{
	
	position: fixed;
	width: 100%;
	top: 86px;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
}

.submenu-container{
	display: flex;
}

.submenu li{
	padding: 5px 5px;
}
.subcity ul li:first-child{
	color: #008555;
font-family: "HelveticaNeueLTW1G-Bd";
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.subcity{
	padding-left: 185px;
	font-size: 14px;
}
.subdirection{
	
	font-size: 14px;
	padding-left: 185px;
}
.subcountry{
	
	font-size: 14px;
	padding-left: 185px;
}
.header-nav li {
	position: relative;
	padding-bottom: 18px;
}

.header-nav li>a {
	color: #008555;
	white-space: nowrap;
}



.submenu li {
	padding: 5px 15px;
}

nav li:hover>.submenu {
	transform: rotateX(0deg);
	visibility: visible;
	opacity: 1;
	background-color: #fff;
}

.header-slaider-box {
	width: 100%;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.83);
}

.header-slaider li {
	width: 100%;
	position: relative;
}

.header-slaider li img {
	display: block;
	max-width: 100%;
	height: auto;
	width:100%;
}

.header-slaider-caption {
	position: absolute;
	background-image: url('../img/подложка_для_текста.png');
	background-repeat: repeat-y;
	bottom: 0;
	padding: 32px 0 21px 15px;
	left: 13.5%;
	width: 500px;
}

.caption-theme {
	color: #ffffff;
	font-family: "HelveticaNeueLTW1G-Md_0";
	font-size: 28px;
	font-weight: 400;
	text-decoration: underline;
}

.caption-link {
	color: #ffffff;
	margin-top: 15px;
	font-family: "HelveticaNeueLTW1G-Th";
}

.caption-link a {
	color: #fff;
}
.viewport{
	position: relative;
}
.slaider-arrow-left, .slaider-arrow-right{
	position: absolute;
	top: 50%;
	color: #fff;
	cursor: pointer;
}
.slaider-arrow-left{
	left: 14.5%;
}
.slaider-arrow-right{
	right: 14.5%;
}


.widget-link,
.widget-weather {
	cursor: pointer;
	width: 57px;
	height: 57px;
	display: flex;
	padding: 8px;
	background-image: linear-gradient(to top, #0a613e 0%, #47d69e 100%);
}
.page-annotation-container{
	display: flex;
	justify-content: center;
}
.page-annotation {
	padding: 85px 0;
	color: #5d5d5d;
}

.page-annotation h1 {
	margin-bottom: 55px;
	color: #008555;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 60px;
	font-weight: 400;
	text-align: center;
}

.page-annotation-body {
	white-space: pre-line;
	color: #5d5d5d;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-size: 18px;
	font-weight: 400;
}

.tour-kind {
	z-index: 5;
	background-color: #0054b9;
	padding: 65px 0 50px 0;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.79);
	background-image: url('../img/подложка_для_фона.png');
	background-repeat: repeat-x;
	background-position-y: -500px;
}

.tour-kind-word {
	color: #ffffff;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 60px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	margin-bottom: 54px;
}

.tour-item {
	max-width: 100%;
	margin-bottom: 30px;
	margin-right: 30px;
}

.tour-item:hover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.65) 99%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.65) 99%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.65) 99%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-9 */
}

.tour-item-img {
	width: 100%;
	position: relative;
	border: 2px solid white;
	box-shadow: 16px 16px 13px rgba(0, 0, 0, 0.4);
}

.tour-item-img:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+21&0+0,0.65+80 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 21%, rgba(0, 0, 0, 0.65) 80%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 21%, rgba(0, 0, 0, 0.65) 80%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.17) 21%, rgba(0, 0, 0, 0.65) 80%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-9 */
}

.tour-item-img img {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}

.tour-item-img a:hover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.65) 99%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.65) 99%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.65) 99%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-9 */
}

.tour-img-caption {
	position: absolute;
	bottom: 20px;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: center;
	text-align: center;
	color: #ffffff;
	font-family: "HelveticaNeueLTW1G-Th";
	font-size: 26px;
	font-weight: 400;
	line-height: 34.17px;
}

.tour-img-caption span {
	width: 80%;
}
.tour-slaider-box{
	display: flex;
	justify-content: center;
}
.tour-slaider{
	width: 88%;
}

.tour-slaider-box .slaider-arrow-left {
	position: absolute;
	left: -30px;
	top: calc(50% - 25px);
}

.tour-slaider-box .slaider-arrow-right {
	position: absolute;
	right: -25px;
	top: calc(50% - 25px);
}


/*Начало Footer*/

footer{
	background-color: #0054b9;
	font-family:"HelveticaNeueLTW1G-Th";
	font-size: 18px;
	padding: 66px 0 0 0;
	padding: 66px 0  48px 0;
}
footer a{
	color: #fff;
}
footer * > span{
	color:#fff;
}
.footer-container{
	display: flex;justify-content: center;
}
.footer-box{
	width: 100%;
}
.footer-info{
	display: flex;
	align-items: center;
	margin-bottom: 54px;
}
.footer-logo{
	margin-right: 10px;
}
.footer-word{
	color: #fff;
}
.footer-word::after{
	content: '';
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.footer-navbar{
	display: flex;

	width: 70%;
	margin-bottom: 73px;
}
.footer-navbar ul{
	margin-right: 110px;
}
.footer-navbar > ul > li {
	padding: 11px 0;
	white-space: nowrap;
}
.sub input{
	background-color: #0054b9;
	color: #fff;
	border: 1px solid #fff;
}
.footer-form{
	padding-left: 5px;
	height: 26px;
	color:#99bbe3;
	
}



.footer-form:before{
	content: '';
	
	top: 20px;
	right: 0;
	height: 20px;
	width: 15px;
	color: black;
	background-color: #fff;
	z-index: 100;

}
#subForm{
	display: none;
}
.sub-form{
	display: flex;
	flex-direction: column;
	position: relative;
}
.sub-form *:not(div){
	margin-bottom: 10px;
}
.icon-right-open-mini{
	position: absolute;
	right: -20px;
	bottom: 0;
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.sub input::-webkit-input-placeholder{
	color: #99bbe3;
}
.sub input::-moz-placeholder{
	color: #99bbe3;
}
.slick-arrow{
	display: none !important;
}

.max{
	max-width: 1460px;
}
.min{
	min-width: 1100px;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
  
.ar{
	  width: 16px;
	  height: 15px;
	  position: absolute;
	  right: 16px;
	  bottom:9px;
	  z-index: 100;
}
.ar img{
	cursor: pointer;
	width: 100%;
	height: 100%;
}
input[type=submit]{
	background-color: #fff;
	color: #0054b9;
	font-family: "HelveticaNeueLTW1G-Lt";
	font-size: 28px;
	font-weight: 400;
	line-height: 9.66px;
	outline: none;
	border: 0 none;
	background: rgb(242,249,254);
    background: -moz-linear-gradient(top, rgba(242,249,254,1) 62%, rgba(214,240,253,1) 100%);
    background: -webkit-linear-gradient(top, rgba(242,249,254,1) 62%,rgba(214,240,253,1) 100%);
    background: linear-gradient(to bottom, rgba(242,249,254,1) 62%,rgb(80, 126, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
}
.my-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.my-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.my-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.my-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.my-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: #0054b9;
	background-color: #0054b9;
	border: 2px solid white;
	border-radius: 50%;
	outline: none;
}

.my-dots li button:hover,
.my-dots li button:focus {
	outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
	opacity: 1;
}

.my-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	border: 2px solid white;
	border-radius: 50% 50%;
	text-align: center;
	opacity: .25;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
	opacity: 1;
	background-color: rgb(255, 255, 255);
}

.icon-left-open-big,
.icon-right-open-big {
	font-size: 100px;
	color:#fff;
}

.gradient {
	background-color: rgba(0, 0, 0, 0.5);
	/* IE9, iOS 3.2+ */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
	/* Android 2.3 */
	background-image: -webkit-repeating-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	/* IE10+ */
	background-image: repeating-linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -ms-repeating-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}


/* IE8- CSS hack */
@media screen and (max-width: 1600px){
	.popup-content-box{
		padding-left: 150px;
	}
	.tour-img-caption span{
		font-size: 19px;
	}
}
@media screen and (max-width: 1300px){
	nav{
		padding-left: 15px;
	}
}
@media screen and (max-width: 1280px){
	.footer-navbar ul {
		margin-right: 75px;
	}
	.travel-item-date span{
		padding: 13px 20px 13px 20px;
	}
}