name-animation(color, selector){
    $color = color;
    animation-name:name=(selector);
    animation-duration: 0.3s;
    animation-timing-function: linear;
    make-animation(name,$color)
    }

make-animation(name, color)
    @keyframes {name}{
        0%{
            background-color #fff
        }
        100%{
            background-color color
        }
    }

.sheen:hover{
  
    a
    color: #fff !important
}
.sheen:before{
  content: "";
  //background: linear-gradient(to right, rgba(125,185,232,0) 1%,rgba(30,87,153,0) 16%,rgba(30,87,153,0.19) 20%,rgba(78,136,193,1) 37%,rgba(125,185,232,1) 54%,rgba(125,185,232,1) 62%,rgba(125,185,232,0.7) 69%,rgba(125,185,232,0) 90%);
   background-color #FFF;
    height: 100%;
    width: 2em;
    display: block;
    position: absolute;
    top: 0;
    left:-3em;
    transform: skewX(-50deg) translateX(0);
}
.sheen:hover:before{
    animation sheen 0.4s linear;
} 

@keyframes optimum-bg{
    0%{
        height 19px
    }
    100%{
        height 35px
    }    
}    
@keyframes not-bg{
    0%{
        height 35px
    }
    100%{
        height 19px
    }    
}  

@keyframes sheen {
  0% {
        transform: skewX(-50deg) translateX(0);
  }
  100% {
        transform: skewX(-50deg) translateX(300px);
  }
}
.bs-fo{
  box-shadow:none !important ;
  animation bs-fo 0.4s linear !important
  }
.bs-fi{
  animation bs-fi 0.4s linear !important
  box-shadow: 0px 8px 28px -8px  !important;
  }  

 @keyframes bs-fo{
  0%{
  box-shadow: 0px 8px 28px -8px ;
  }
  100%{
  box-shadow:none;
  }

} 
 @keyframes bs-fi{
  0%{
  box-shadow:none;
  
  }
  100%{
  box-shadow: 0px 8px 28px -8px  ;
  }

} 